{% extends "layout.html" %}
{% block content %}
    <h1>BugWise Audio Journal</h1>
    <p>Now, bugs not only get fixed, but they also have a story to tell through BugWise! 🐞🎤</p>

    <h1 class="mt-5">Our Story</h1>
    <p>BugWise had its humble beginnings sparked by a spontaneous desire to assist a friend in navigating a perplexing software bug during their early days in tech. Reflecting on the journey and encountering similar challenges, guidance was effortlessly provided through the bug resolution process, drawing insights from a handwritten bug-fix diary.</p>
    <p>Recognizing the intrinsic value of documenting these bug fixes, the vision for BugWise began to take shape. Serving as a reliable "bug-buddy," joy was found in assisting in troubleshooting and conquering coding challenges.</p>
    <p>As the demand for bug-fix guidance increased, especially during busy project timelines, challenges arose in maintaining timely responses. This pivotal moment led to the conceptualization of BugWise — an innovative solution that transcends traditional bug tracking methods. The idea of creating an audio archive for bug fixes emerged, driven by the need for a more efficient way to share expertise and streamline collaboration.</p>
    <p>BugWise was born out of the passion for transforming the bug tracking landscape, offering a unique audio-centric approach to bug documentation and collaboration. The journey continues, guided by a commitment to empowering developers through seamless, voice-driven bug tracking experiences.</p>

    <h1 class="mt-5">Our Mission</h1>
    <p>BugWise is designed to revolutionize bug tracking for all.</p>
    <p>BugWise aims to provide a flexible and engaging platform for developers to document and share bug fixes through the expressive medium of audio. The BugWise application is created to break the monotony of text-based bug tracking, fostering a more connected and efficient coding community.</p>
    <p>BugWise is open-source.</p>
    <p>BugWise is more than just a bug tracking tool; it is a welcoming and inclusive platform.</p>

    <h1 class="mt-5">Team</h1>
    <p>Meet the great minds behind BugWise:</p>
    <p>Goodness James, Akoma (Backend Developer)</p>
    <p>Elizabeth Ginika, Nna (Frontend Developer)</p>

    <h1 class="mt-5">History</h1>
    <p>Founded in 2023, BugWise Audio Journal aims to rapidly evolve and reach key milestones in redefining how developers approach bug tracking. Our commitment to innovation and user-centric solutions has driven the application's success.</p>

    <h1 class="mt-5">Contact information</h1>
    <p>Get in touch with the team via email for suggestions and inquiries:</p>
    <p>akomagoodness97@gmail.com</p>
    <p>elizabethginika6@gmail.com</p> <br>
    <p>Don't be shy to join our <a href="https://chat.whatsapp.com/LvHpZu1s1Q8A3BE3pcZ1DG">community</a> and stay updated with bug resolution trends.</p>

    <h1 class="mt-5">Privacy Policy</h1>
    <p>Please review our <a href="#">Privacy Policy</a> and <a href="#">Terms of Service</a> for important information regarding your use of BugWise Audio Journal.</p>

    <h1 class="mt-5">Credits</h1>
    <p>We extend our gratitude to <a href="https://www.alxafrica.com/">ALX Africa</a> for guiding us through the Research of this project.</p>
    <p>Special thanks to Corey Schafer - our perennial go-to expert for Flask tutorials.</p>

{% endblock content %}